<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bucketList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D00EBB01F102A4700F94F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D00EBC41F102A4800F94F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D00EBCF1F102A4800F94F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
