<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSQuiz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1DFF40521F0DAC9B00DDA99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DFF40661F0DAC9C00DDA99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DFF40711F0DAC9C00DDA99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
